.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important
}

.left-icon {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}

.no-border-radius {
  border-radius: 0 !important;
}

.no-border {
  border: none !important;
}

#titleInput {
  border: none !important;
}

.sidenav {
  box-shadow: none!important;
}
.sidenav .active.item {
  background: white!important;

}

.sidenav .active.item i {
  color: #182C44!important;
 }

 .float-right {
   float: right;
 }

 .float-left {
   float: left;
 }

 .pointer {
   cursor: pointer;
 }

 .ui.secondary.vertical.pointing.menu .active.item {
   border-color: #C34B5F;
 }

 .ui.inverted.menu {
   background: #182C44;
 }

 .inline {
   display: inline-block!important;
 }

 .no-top-margin {
   margin-top: 0!important;
 }
