html, body {
  min-height: 100%;
}

.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important
}

.left-icon {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}

.no-border-radius {
  border-radius: 0 !important;
}

#titleInput {
  border: none !important;
}

.no-border {
  border: none!important;
}

.title-input {
  margin-left: 0px!important;
  padding-left: 0px!important;
}

.sidenav {
  box-shadow: none!important;
}
.sidenav .active.item {
  background: white!important;

}

.sidenav .active.item i {
  color: #182C44!important;
 }

 .float-right {
   float: right;
 }

 .float-left {
   float: left;
 }

 .pointer {
   cursor: pointer;
 }

 .ui.secondary.vertical.pointing.menu .active.item {
   border-color: #C34B5F;
 }

 .ui.inverted.menu {
   background: #182C44;
 }

.editor {
  width: calc(100% - 316px);
  height: calc(100% - 86px);
}

.DraftEditor-root {
  border-top: 2px solid rgba(34, 36, 38, .03);
  padding: 20px;
  height: 100%;
}

.light-grey {
  color: #c1c1c1!important;
}

.menu-header {
  font-size: 18px;
  font-weight: 600;
}

.setting-nav {
  position: absolute!important;
  bottom: 0!important;
}
.setting-popup {
  left: 10px!important;
}

.create-new:hover {
  color: #C34B5F;
}

.DraftEditor-editorContainer {
  height: 100%;
}

.public-DraftEditor-content {
  height: 100%;
}

.note-grid {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.flex-one {
  flex: 1;
}

.row {
  padding-bottom: 0!important;
}

.CodeMirror {
  height: 100%!important;
  font-family: Arial, monospace!important;
  font-size: 16px;
  line-height: 25px!important;
}

.public-DraftEditor-content {
  caret-color: #C34B5F;
}

.editor-menu {
  margin-bottom: 0px!important;
}

.no-margin {
  margin: 0px!important;
}
