.note-editor {
  padding: 1em 3.5em 1em 3.5em;
  height: calc(100vh - 108px)!important;
  overflow-y: auto !important;
}

.note-editor h1,h2,h3,h4,h5,h6 {
  position: relative;
}

.note-editor h1 {
  border-bottom: 1px solid #DDD;
  padding-bottom: 0.4em;
  display: block;
}
