.note-icon {
  float: left !important;
  margin: 0 !important;
  padding: 0.4em 0 !important;
}

.tree-leaf {
  padding: 0.4em 0.8em !important;
}

.f-no-select, .m-tree {
  user-select: none;
}
.m-draggable{
  position: absolute;
  opacity: .8;
  user-select: none;
}
.m-node.placeholder > * {
  visibility: hidden;
}
.m-node.placeholder {
  border: 1px dashed #ccc;
  border-radius: 4px;
}
.m-node .inner {
  position: relative;
  cursor: pointer;
  padding-left: 10px;
}
.m-node .collapse {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
}
.m-node .node.is-active {
  background-color:#31363f !important;
}

.children {
  padding-left: 20px;
}

.tree-leaf:hover .hidden {
  display: block !important;
}

.folder-input {
  border-bottom: 1px solid #DDD;
}
