.note-menu {
  display: flex !important;
  border: none !important;
  background: #fafafa !important;
  max-height: 100vh;
}
.note-view {
  width: 100%;
  flex: 1 !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

.note-view:hover {
  overflow-y: auto;
}

.new-note {
  flex: 1 !important;
}

.new-note:hover {
  color: #C34B5F !important;
}

.note-list {
  overflow-y: auto !important;
  overflow-x: hidden;
  height: auto;
}

.note-list-item {
  padding: 0.5em 0 !important;
}

.ui.secondary.vertical.pointing.menu .active.item {
  border-color: transparent;
}
