.title-input {
  margin-left: 0px!important;
  padding-left: 0px!important;
  flex: 1 !important;
}

#titleInput {
  padding-left: 0 !important;
}

#toolbar {
  padding-top: .85714286em;
}

#toolbar:hover {
  background: #fafafa;
}
